name: flutter_campus_feedback
description: "Aplikasi Kuesioner Kepuasan Mahasiswa UIN STS Jambi - UTS Pemrograman Mobile."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  google_fonts: ^6.3.0    # ✅ Google Fonts sudah include Poppins
  uuid: ^4.3.0
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/flutter_logo.png
    - assets/images/uin_logo.png    

  # ✅ TIDAK PERLU FONTS SECTION KARENA PAKAI google_fonts